.*{ margin: 0;
	margin: 0;

}


header{
	padding-top: 15%;
	background-image: url(../img/ben-white-128604.jpg);
	background-size:100%;
    background-repeat: no-repeat;
}

nav ul li{
	float: left;
	list-style-type: none;
	color: white;
	margin-right: 40px;
	font-size: 15px;
	font-weight:bold;
}




.texto-alinhado{
	text-align: center;

}

.row-botao{
	margin-top: 15%;
	color: #19B5FE;
	
}
